.root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
}
.sidebar {
    width: 15%;
    min-width:270px;
}
.space {
    /* margin-left: -6px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 85%;
}
.space div {
    width: 100%;
}
/*----------------------*/
